In [13]:
import pandas as pd

df = pd.read_csv('C:/dataflights/flights/airports5.csv')

### Question number 1: 
- What is the northermost airport in the United States? 
  To answer this question, I first looked at a latitude and longitude map to better understand the data given. After seeing  
  that the highest the latitude, the northern the place is, I decided to sort the data by latitude in descending order. After 
  doing so, I selected the first item of the list which is Wiley Post Will Rogers Mem. I verified that this was the northermost 
  airport given in the data set by comparing the first 5 airports with the highest latitude on google maps.

In [14]:
sorted_list = df.sort_values(by=['lat'], ascending=[False]).dropna()
northernmost = sorted_list[:1]
northernmost

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage

### Question number 2 
- To answer this question, I followed the same logic of question number 1. The easternmost airport would have the highest value   in the longitude column as positive values represent the eastern hemisphere. I sorted the data by longitude in descending 
  order. When I did so, I got some airports in Asia that have positive longitude numbers, so to filter them out of the data set 
  I created a calculation that selected the values that were less than 0 and applied to the list which gives me the highest 
  value in the longitude column. To verify my answer I used google maps to compare the locations of the five airports with the   highest longitude.

In [15]:
sorted_list = df.sort_values(by=['lon'], ascending=[False]).dropna() 
selection = sorted_list.lon < 0 
easternmost = sorted_list[selection][:1] 
easternmost

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

In [16]:
import pandas as pd

df = pd.read_csv('C:/dataflights/flights/weather2.csv')

### Question number 3 
  - For question number 3, I first needed to sort the data by month, day, year. To do so, I uploaded the the csv file into SQL     and created a SQL script to create a table that gave me the wind speed of all the NYC area airports on the february 12, 
    2013. 
    - I uploaded the new csv file with the sorted data into jupyter notebooks and organized the data by wind speed in 
      descending order. There was an outlier in the data, which showed a wind speed in the 1000s, so to eliminate the outlier, 
      I looked at the highest wind speed recorded which was during a tropical cyclone named Olivia in Australia and the wind  
      speed was 253mph, so I decided to filter any rows that had a wind speed higher than 300. I also looked at the data  
      manually and saw that most of the speeds were around the 20s, so I thought that 300 would be an appropiate measure.

In [17]:
sorted_list = df.sort_values(by=['wind_speed'], ascending=[False]).dropna()
selection = sorted_list.wind_speed < 300  
windiest = sorted_list[selection][:1]  
windiest

   origin  year  month  day  hour  wind_speed
47    LGA  2013      2   12     2     23.0156