In [60]:
import pandas as pd

df = pd.read_csv('C:/dataflights/flights/twoairlines.csv')
df

,City,Alaska_ON_Time,Alaska_Delayed,AM_WEST_ON_Time,AM_WEST_Delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,415
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

In [61]:
#This code displays the sum of all the delayed flights by Alaska airlines. To do so I created a variable and stored the 
# the sum of all the rows in the column 'Alaska_Delayed'
alaska_total_flights_delayed = df['Alaska_Delayed'].sum() 
alaska_total_flights_delayed

501

In [62]:
#This code displays the sum of all the delayed flights by AmWest airlines. To do so I created a variable and stored the 
# the sum of all the rows in the column 'AM_WEST_Delayed'
amwest_total_flights_delayed = df['AM_WEST_Delayed'].sum() 
amwest_total_flights_delayed

787

In [63]:
# This code calculates the percentage of all flights that were delayed by Alaska Airlines. To do so, I added up all flights 
# done by Alaska Airlines(total_alaska_flights) and divided the total of delayed flights (alaska_total_flights_delayed) 
#by the total number of flights (total_alaska_flights) and multiplied the result by 100 to obtain the percentage. 
total_alaska_flights = df['Alaska_ON_Time'] + df['Alaska_Delayed']
total_alaska_flights = total_alaska_flights.sum() 
percentage_of_flights_delayed_alaska = alaska_total_flights_delayed / total_alaska_flights * 100 
percentage_of_flights_delayed_alaska.round()

13.0

In [64]:
# This code calculates the percentage of all flights that were delayed by AM West airlines. To do so, I added up all flights 
# done by AM West airlines (total_amwest_flights) and divided the total of delayed flights (amwest_total_flights_delayed) 
#by the total number of flights (total_amwest_flights) and multiplied the result by 100 to obtain the percentage. 
total_amwest_flights = df['AM_WEST_ON_Time'] + df['AM_WEST_Delayed']
total_amwest_flights = total_amwest_flights.sum() 
percentage_of_flights_delayed_amwest = amwest_total_flights_delayed / total_amwest_flights * 100 
percentage_of_flights_delayed_amwest.round()

11.0

In [65]:
# This code calculates the percentages of flights delayed but does it by city. For example, index 0 is dividing 62
#(number of delayed flights in Los Angeles) by the total number of flights done to Los Angeles (559)
total_alaska_flights = df['Alaska_ON_Time'] + df['Alaska_Delayed']
percentage_bycity_delayed_alaska = df['Alaska_Delayed'] / total_alaska_flights * 100
percentage_bycity_delayed_alaska.round()

0    11.0
1     5.0
2     9.0
3    17.0
4    14.0
dtype: float64

In [66]:
#This code calculates the percentage of flights delayed by city.
total_amwest_flights = df['AM_WEST_ON_Time'] + df['AM_WEST_Delayed']
percentage_bycity_delayed_amwest = df['AM_WEST_Delayed'] / total_amwest_flights * 100 
percentage_bycity_delayed_amwest.round()

0    14.0
1     8.0
2    15.0
3    29.0
4    23.0
dtype: float64

In [67]:
#This code gives the city with the most delayed flights for Alaska Airlines
max_delay_alaska = df['Alaska_Delayed'].max() 
max_delay_alaska

305

In [57]:
#This code gives the city with the least delayed flights for AM West airlines
minimum_delay_amwest = df['AM_WEST_Delayed'].min()
minimum_delay_amwest

61