In [50]:
import pandas as pd

df = pd.read_csv('C:/dataflights/flights/two_airlines_.csv')
df

   airline   status  los_angeles  phoenix  san_diego  san_francisco  seattle
0   ALASKA  ON TIME          497      221        212            503     1841
1   ALASKA  DELAYED           62       12         20            102      305
2  AM WEST  ON TIME          694     4840        383            320      201
3  AM WEST  DELAYED          117      415         65            129       61

In [51]:
#Displaying the two rows that contain the delayed flights from Alaska and AM WEST by selecting the rows by index label 
# using .loc[]
df.loc[[1,3]]

   airline   status  los_angeles  phoenix  san_diego  san_francisco  seattle
1   ALASKA  DELAYED           62       12         20            102      305
3  AM WEST  DELAYED          117      415         65            129       61

In [52]:
# This code displays the sum of all the delayed flights by Alaska airlines by selecting the row with index 1 and adding 
# up all values by using sum()
tfd_alaska = df.loc[[1]].sum(axis=1) 
tfd_alaska

C:\Users\micky\AppData\Local\Temp\ipykernel_28492\4287674563.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tfd_alaska = df.loc[[1]].sum(axis=1)

1    501
dtype: int64

In [53]:
# This code displays the sum of all the delayed flights by AM West airlines by selecting the row with index 3 and adding 
# up all values by using sum()
tfd_amwest = df.loc[[3]].sum(axis=1) 
tfd_amwest

C:\Users\micky\AppData\Local\Temp\ipykernel_28492\1108079790.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tfd_amwest = df.loc[[3]].sum(axis=1)

3    787
dtype: int64

In [54]:
# This code calculates the percentage of flights that were delayed by Alaska Airlines. To do so, I added up all flights 
# done by Alaska Airlines(tf_alaska) and divided the total delayed flights (tfd_alaska) by the total number of flights 
# (tf_alaska) and multiplied the result by 100 to obtain the percentage. 
tf_alaska = df.loc[[0,1]].sum(numeric_only=True)
tf_alaska = tf_alaska.sum() 
tf_alaska
delayedp_alaska = tfd_alaska / tf_alaska * 100 
delayedp_alaska.round()

1    13.0
dtype: float64

In [55]:
# This code calculates the percentage of flights that were delayed by AM West Airlines. To do so, I added up all flights 
# done by AM West Airlines(tf_amwest) and divided the total delayed flights (tfd_amwest) by the total number of flights 
# (tf_amwest) and multiplied the result by 100 to obtain the percentage.
tf_amwest = df.loc[[2,3]].sum(numeric_only=True)
tf_amwest = tf_amwest.sum() 
tf_amwest
delayedp_amwest = tfd_amwest / tf_amwest * 100 
delayedp_amwest.round()

3    11.0
dtype: float64

In [56]:
# This code uses the function max() to obtain the biggest value in index 1, which is the index with the delayed flights from
# Alaska Airlines to see which city had the least amount of delays.
maxd_alaska = df.loc[[1]].max(axis=1) 
maxd_alaska

C:\Users\micky\AppData\Local\Temp\ipykernel_28492\921830879.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  maxd_alaska = df.loc[[1]].max(axis=1)

1    305
dtype: int64

In [57]:
# This code uses the function min() to obtain the smallest value in indext 3, which is the index with the delayed flights
#from AM West airlines to see which city had the least amount of delays.
mind_amwest = df.loc[[3]].min(axis=1) 
mind_amwest

C:\Users\micky\AppData\Local\Temp\ipykernel_28492\2409191444.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mind_amwest = df.loc[[3]].min(axis=1)

3    61
dtype: int64