In [17]:
from sqlalchemy import create_engine
import mysql.connector
import pandas as pd

conn = 'mysql+mysqlconnector://root:Thepassword1!@localhost:3306/Chinook' 

engine = create_engine(conn)

connection = engine.connect() 

df = pd.read_sql_query( 
    "SELECT customer.LastName, customer.FirstName, track.Name, album.title From customer JOIN invoice ON customer.CustomerId = invoice.CustomerId JOIN invoiceline ON  invoice.InvoiceId = invoiceline.InvoiceId JOIN track ON invoiceline.TrackId = track.TrackId JOIN album ON track.AlbumId = album.AlbumId ORDER BY customer.LastName, customer.FirstName", conn)
    
df.head()

,LastName,FirstName,Name,title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas