In [9]:
import pandas as pd

df = pd.read_csv('C:/dataflights/untidy/untidy_population_count.csv')
df

         country      year_2000      year_2010      year_2020
0  united states    282,000,000    309,300,000    329,500,000
1          china  1,263,000,000  1,338,000,000  1,411,000,000
2         russia    146,600,000    142,800,000    144,100,000
3          india  1,060,000,000  1,241,000,000  1,329,000,000

### Reshaping the data 
-The data provided had observations as columns. To fix this problem, I used the melt() method to reshape the data into long format. I used the country column as an identifier and year and population as measurable values. I also changed the names of the values year_2000, year_2010, year_2020 to 2000, 2010, 2020 to make the table look cleaner.

In [10]:
tidy_df = df.melt(id_vars=['country'], 
       var_name='year', 
       value_name='population') 
tidy_df['year'] = tidy_df['year'].replace(['year_2000', 'year_2010', 'year_2020'], ['2000', '2010', '2020']) 
tidy_df

          country  year     population
0   united states  2000    282,000,000
1           china  2000  1,263,000,000
2          russia  2000    146,600,000
3           india  2000  1,060,000,000
4   united states  2010    309,300,000
5           china  2010  1,338,000,000
6          russia  2010    142,800,000
7           india  2010  1,241,000,000
8   united states  2020    329,500,000
9           china  2020  1,411,000,000
10         russia  2020    144,100,000
11          india  2020  1,329,000,000

### Calculations 
This first calculation is getting the percentage change in population of the United States from the year 2000 to the year 2010.

In [11]:
tidy_df['population'] = tidy_df['population'].str.replace(',', '').astype(int)  
us_total = tidy_df['population'].loc[tidy_df.index[4]] - tidy_df['population'].loc[tidy_df.index[0]]  
us_change = us_total / tidy_df['population'].loc[tidy_df.index[0]] * 100
us_change.round(2)

9.68

### Calculations
-This calculation is getting the percentage change in population of Russia from the year 2000 to the year 2020

In [12]:
russia_total = tidy_df['population'].loc[tidy_df.index[10]] - tidy_df['population'].loc[tidy_df.index[2]] 
russia_change = russia_total / tidy_df['population'].loc[tidy_df.index[2]] * 100 
russia_change.round(2)

-1.71